<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1021111978293-kfa2htiucoanieokd00ckrk59tivh34h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1021111978293-kfa2htiucoanieokd00ckrk59tivh34h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1021111978293-tskk3inv6tnrnhfi4qh70j46b1qct902.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCRMPzVr4LL-vusK6XfYfyKqGYdNmfv1Hs</string>
	<key>GCM_SENDER_ID</key>
	<string>1021111978293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.tweetstress</string>
	<key>PROJECT_ID</key>
	<string>stress-tweet</string>
	<key>STORAGE_BUCKET</key>
	<string>stress-tweet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021111978293:ios:13bac36ec20eb065e4a47c</string>
</dict>
</plist>